<!DOCTYPE html>
<html>
    <head>
      
        <title>About</title>
        
        <style>
        
            body {
                
                font-family: sans-serif;
                background-color:lightgray;
                
            }
        
            #page-title {
                
                text-align: center;
                
            }
            
        </style>
           
    </head>
 
    <body>
        
        <div id="page-title">
        
            <h1>Welcome to the About page!</h1>
            
            <p>This page is the About page for the Alpha Blog.</p>
            
            <p><%= link_to 'Home', root_path %></p>
        
        </div>
           
    </body>

</html>


