<!DOCTYPE html>
<html>
    <head>
      
        <title>Home</title>
        
    </head>
 
    <body>
        
        <div class = "center jumbotron">
        
            <h1>ALPHA BLOG</h1>
            
            <button type = "button" class = "btn btn-primary btn-lg">Sign Up Now</button>
        
        </div>
           
    </body>

</html>


